.layout-header, .layout-bank { 
    margin: 0 auto;
    width: 300px;
    
    @include transition-property(width, height);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease);

}

.layout-header { 
    height: 80px; 
    
    h1 { text-align: center;  margin: 20px 0 30px 0;  }
}

.layout-bank {
    background: white;
}


@media only screen and (min-width: 600px) and (max-width: 800px) {
    .layout-header, .layout-bank { width: 500px; }
}

@media only screen and (min-width: 800px) {
    .layout-header, .layout-bank { width: 700px; }
}
