.layout-header, .layout-bank { 
	float: left;
	clear: both;
}

.layout-header { 
    height: 100px; 
    
    h1 { text-align: center;  margin: 25px 0 30px 50px;  }
}

.layout-bank {
    //background: white;
}