/* line 12, scss/includes/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, scss/includes/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, scss/includes/_reset.scss */
body {
  line-height: 1;
}

/* line 30, scss/includes/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, scss/includes/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, scss/includes/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to highlight inserts somehow! */
/* line 43, scss/includes/_reset.scss */
ins {
  text-decoration: none;
}

/* line 46, scss/includes/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 50, scss/includes/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, scss/style/_base.scss */
body {
  background: #18252c url(images/background.png) left top;
  color: white;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  word-wrap: normal;
  font-variant: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-family: "Neuton", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #b7d6ee;
}

/* line 50, scss/style/_base.scss */
::selection {
  background: #b7d6ee;
}

/* line 51, scss/style/_base.scss */
::-moz-selection {
  background: #b7d6ee;
}

/* line 52, scss/style/_base.scss */
img::selection {
  background: #b7d6ee;
}

/* line 53, scss/style/_base.scss */
img::-moz-selection {
  background: #b7d6ee;
}

/* line 57, scss/style/_base.scss */
a {
  color: white;
  border-bottom: 1px dotted white;
  text-decoration: none;
}

/* line 58, scss/style/_base.scss */
a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* line 59, scss/style/_base.scss */
a:active {
  color: white;
  border-bottom: 1px solid white;
}

/* line 61, scss/style/_base.scss */
em, cite {
  font-style: italic;
}

/* line 62, scss/style/_base.scss */
hr {
  display: none;
}

/* line 64, scss/style/_base.scss */
h1 {
  font-size: 48px;
}

/* line 70, scss/style/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(assets/library/boxsizing.htc);
}

/* line 72, scss/style/_base.scss */
.left {
  float: left;
}

/* line 73, scss/style/_base.scss */
.right {
  float: right;
}

/* line 75, scss/style/_base.scss */
.block {
  display: block;
}

/* line 76, scss/style/_base.scss */
.inline {
  display: inline-block;
}

/* line 78, scss/style/_base.scss */
.relative {
  position: relative;
}

/* line 79, scss/style/_base.scss */
.absolute {
  position: absolute;
}

/* line 80, scss/style/_base.scss */
.fixed {
  position: fixed;
}

/* line 82, scss/style/_base.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, scss/style/_layout.scss */
.layout-header, .layout-bank {
  float: left;
  clear: both;
}

/* line 6, scss/style/_layout.scss */
.layout-header {
  height: 100px;
}
/* line 9, scss/style/_layout.scss */
.layout-header h1 {
  text-align: center;
  margin: 25px 0 30px 50px;
}

/* line 1, scss/style/modules/_bank.scss */
.bank {
  max-width: 800px;
}

/* line 5, scss/style/modules/_bank.scss */
.bank-item {
  float: left;
  width: 80px;
  height: 80px;
}

/* line 11, scss/style/modules/_bank.scss */
.bank-item-double {
  width: 160px;
  height: 80px;
}

/* line 1, scss/style/modules/_icon.scss */
.icon {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  fill: #222;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, scss/style/modules/_icon.scss */
.icon .layer1 {
  fill: #d1e6eb;
  stroke: none;
}
/* line 15, scss/style/modules/_icon.scss */
.icon .layer2 {
  fill: #86a2a8;
  stroke: none;
}
/* line 16, scss/style/modules/_icon.scss */
.icon .layer3 {
  fill: #68868d;
  stroke: none;
}
/* line 17, scss/style/modules/_icon.scss */
.icon .layer4 {
  fill: #527279;
  stroke: none;
}
/* line 18, scss/style/modules/_icon.scss */
.icon .layer5 {
  fill: #3c5e66;
  stroke: none;
}

/* line 21, scss/style/modules/_icon.scss */
.icon:hover {
  background: rgba(255, 255, 255, 0.05);
}
/* line 24, scss/style/modules/_icon.scss */
.icon:hover .layer1 {
  fill: #d1c9f3;
}
/* line 25, scss/style/modules/_icon.scss */
.icon:hover .layer2 {
  fill: #7f71bd;
}
/* line 26, scss/style/modules/_icon.scss */
.icon:hover .layer3 {
  fill: #6050a6;
}
/* line 27, scss/style/modules/_icon.scss */
.icon:hover .layer4 {
  fill: #4c3e8d;
}
/* line 28, scss/style/modules/_icon.scss */
.icon:hover .layer5 {
  fill: #3a2c76;
}

/*
Available Properties

"cursors",
"fill",
"fill-opacity",
"opacity",

"stroke",
"stroke-dasharray",
"stroke-linecap",
"stroke-linejoin",
"stroke-miterlimit",
"stroke-opacity",
"stroke-width"

*/
