/* line 12, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
body {
  line-height: 1;
}

/* line 30, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to highlight inserts somehow! */
/* line 43, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
ins {
  text-decoration: none;
}

/* line 46, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 50, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/includes/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
body {
  background: #18252c url(images/background.png) center top;
  color: white;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  word-wrap: normal;
  font-variant: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-family: "Neuton", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #b7d6ee;
}

/* line 50, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
::selection {
  background: #b7d6ee;
}

/* line 51, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
::-moz-selection {
  background: #b7d6ee;
}

/* line 52, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
img::selection {
  background: #b7d6ee;
}

/* line 53, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
img::-moz-selection {
  background: #b7d6ee;
}

/* line 57, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
a {
  color: white;
  border-bottom: 1px dotted white;
  text-decoration: none;
}

/* line 58, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* line 59, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
a:active {
  color: white;
  border-bottom: 1px solid white;
}

/* line 61, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
em, cite {
  font-style: italic;
}

/* line 62, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
hr {
  display: none;
}

/* line 64, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
h1 {
  font-size: 32px;
}

/* line 70, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(assets/library/boxsizing.htc);
}

/* line 72, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.left {
  float: left;
}

/* line 73, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.right {
  float: right;
}

/* line 75, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.block {
  display: block;
}

/* line 76, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.inline {
  display: inline-block;
}

/* line 78, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.relative {
  position: relative;
}

/* line 79, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.absolute {
  position: absolute;
}

/* line 80, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.fixed {
  position: fixed;
}

/* line 82, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_base.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_layout.scss */
.layout-header, .layout-bank {
  margin: 0 auto;
  width: 300px;
}

/* line 8, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_layout.scss */
.layout-header {
  height: 70px;
}
/* line 11, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_layout.scss */
.layout-header h1 {
  text-align: center;
  margin: 30px 0;
}

/* line 14, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_layout.scss */
.layout-bank {
  background: white;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  /* line 20, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_layout.scss */
  .layout-header, .layout-bank {
    width: 500px;
  }
}
@media only screen and (min-width: 800px) {
  /* line 24, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/_layout.scss */
  .layout-header, .layout-bank {
    width: 700px;
  }
}
/* line 3, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/modules/_bank.scss */
.bank-item {
  float: left;
  width: 100px;
  height: 100px;
  border: 0 dotted #eee;
  border-width: 0 1px 1px 0;
}
/* line 11, /Users/krambuhle/Sites/Vectorectus/demo/assets/scss/style/modules/_bank.scss */
.bank-item .icon {
  margin: 18px;
}
